@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
*{
  box-sizing: border-box;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}
.custom-modal .ant-modal-content {
  border-radius: 2rem !important;
  
}